{% extends 'basic.html' %}

{% block title %}
jitendra lodhi

{% endblock %}

{% block home %}  active {% endblock %}

{% block css %}



.navbar{
padding-top: 0.1rem;
padding-bottom: .1rem;
}
.alert {

padding: 0.3rem 1rem;
}
.fa{
color:rgb(251, 255, 250);
padding: 5px 5px;
border-radius: 50px;
}


.social a :hover{
color:rgb(235, 240, 236);
box-shadow: rgb(235, 11, 11) 5px 5px;
border-radius: 10px;
cursor: pointer;
transform:scale(1.2) ;
transition-delay: 0.2;
/* box-shadow: 8px 8px 8px royalblue; */
/* color:black; */
text-shadow: 5px 5px 5px rgb(30, 9, 216);

}
.carousel-caption h5{
font-family: 'Caveat', cursive;
font-family: 'Rock Salt', cursive;
font-size: 50px;
/* text-transform: uppercase; */
}
.carousel-caption {
padding-bottom:250px;
}

/* thumbnail image */
.d-flex {

margin-top: 80px;
position:static;
}



/* my img */
.jumbotron img {
height: 200px;
width: 260px;
margin: -40px 92px 5px 5px;
height: 200px;
    border-radius: 33px;
    box-shadow: 6px -2px 32px #646c94;
}


p.text-md-start{
padding: 25px;
}

.display-4 {
font-family: 'Courgette';
text-align: center;
font-size: 30px;
display: unset;
/* padding: 25px; */
}

.jumbotron p {

padding: 0px 11px;
font-family: 'Bangers', cursive;
font-family: 'Caveat', cursive;
font-size: 28px;
font-weight: bold;

}
/* skill img */
.img-thumbnail {
max-width: 29%;
margin: -28px 0px 25px;
box-shadow: 12px -7px 31px #b39393;
}
address {
display: block;
font-style: italic;
}


{% endblock %}



{% block body %}



{% endblock %}