{% extends 'basic.html' %}

{% block title %}
Feedback

{% endblock %}

{% block css %}



{ % endblock %}


{% block body %}

<section class="banner_area">
  <div class="box_1220">
    <div class="banner_inner d-flex align-items-center wow animate__animated animate__zoomIn animate__slow 2s">
      <div class="container">
        <div class="banner_content text-center">
          <h2>Feedback</h2>
          <div class="page_link">
            <a href="/">Home</a>
            <a href="/contact">Feedback</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  send feedback  -->

<div class="container alert alert-success">
  <h2 style="color: black; text-align: center;"
    class="alert-heading  wow animate__animated animate__fadeInUp animate__slow	2s " id="show-message">
    FEEDBACK
  </h2><br>


  <form action="/feedback" method="post" id="usermsg">{% csrf_token %}

    <label for="name" class="feedback  wow animate__animated animate__fadeInUp animate__slow	2s"> Feedback Type :
    </label>
    <div class="form-check "> <br>
      <input class="form-check-input  wow animate__animated animate__fadeInUp animate__slow	2s" type="radio"
        name="comment" id="comment">
      <label class="form-check-label wow animate__animated animate__fadeInUp animate__slow	2s" for="flexRadioDefault1">
        Comment
      </label>
    </div>

    <div class="form-check ">
      <input class="form-check-input  wow animate__animated animate__fadeInUp animate__slow	2s" type="radio"
        name="suggest" id="suggest">
      <label class="form-check-label wow animate__animated animate__fadeInUp animate__slow	2s" for="flexRadioDefault2">
        Suggestion
      </label>
    </div>
    <br>
    <br>



    <div class="form-group wow animate__animated animate__fadeInUp animate__slow	2s">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name">
    </div>
    <div class="form-group wow animate__animated animate__fadeInUp animate__slow	2s">
      <label for="name">Email</label>
      <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email">
    </div>

    <div class="form-group wow animate__animated animate__fadeInUp animate__slow	2s">
      <label for="name">Phone</label>
      <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number">
    </div>


    <div class="form-group wow animate__animated animate__fadeInUp animate__slow	2s">
      <label for="desc">What is your Feedback...</label>
      <textarea class="form-control" id="desc" name='desc' rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success " id="send message" style="margin:10px " onclick="feedback()"> <span
        id="msg"> Send Feedback</span> </button>
  </form>
</div>

{% endblock %}


{% block js%}
<script>

  function feedback() {



    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var phone = document.getElementById('phone').value;
    var desc = document.getElementById('desc').value;




    // < !--console.log(name, email, phone, desc); -->
    if (name == '')
      alert("please provide Name...!😐😐")
    else if (email == '')
      alert(" Please provide email id...!📧")
    else if (phone == '')
      alert(" please provide phone Number...!📱")

    else if (desc == '')
      alert("plz say something feedback cannot be empty...!😊")

    else

      // < !--jquery to show message-- >
      $(function () {
        $("#show-message").html(" ✅ Thanks for your valuable feedback.. ")
        $("#msg").html(" Feedback Recievd ")

      })


  }


  // < !--this code is for submitting data without refreshing the page..  -- >

  $(document).on('submit', '#usermsg', function (e) {
    e.preventDefault();



    $.ajax({
      type: 'POST',
      url: '/feedback',
      data: {
        comment: $('#comment').val(),
        suggest: $('#suggest').val(),
        name: $('#name').val(),
        email: $('#email').val(),
        phone: $('#phone').val(),
        desc: $('#desc').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()

      },
    })

    // < !--jquery to clear input field-- >

    $('#name').val('');
    $('#email').val('');
    $('#phone').val('');
    $('#desc').val('');

  })
</script>


{% endblock %}



<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
{% endblock %}